@import url(http://fonts.googleapis.com/css?family=Junge);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000326}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000333}}
audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000339}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000346}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000359}}
html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 87.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000368}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000376}}
a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000381}}
a:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000387}}
a:active,
a:hover {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\0000397}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003103}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003109}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003114}}
abbr[title], dfn[title] {
  cursor: help;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003120}}
mark {
  background: #ffc40d;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003129}}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003135}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003142}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003147}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003153}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003160}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003164}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003177}}
img {
  border: 0;
  font-style: italic;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003184}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003194}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003204}}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003212}}
legend {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003224}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003233}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003245}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003252}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003261}}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003274}}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003283}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003290}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003298}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_normalize\.scss}line{font-family:\00003310}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\000039}}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000315}}
.element-invisible,
.visuallyhidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000322}}
.element-invisible.focusable,
.visuallyhidden.focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\0000341}}
.element-invisible.focusable:active, .element-invisible.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000326}}
.element-visible {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000331}}
.hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000334}}
.show {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000339}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000343}}
.clearfix {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\0000350}}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\0000357}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000347}}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000351}}
.muted {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_helper\.scss}line{font-family:\0000355}}
.base-margin-bottom {
  margin-bottom: 1.28571em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout\.scss}line{font-family:\0000382}}
.page-container {
  *zoom: 1;
  max-width: 69em;
  _width: 69em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/\.rvm\/gems\/ruby-1\.9\.3-p362\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.page-container:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout\.scss}line{font-family:\0000385}}
.page-container > footer, .page-container > header {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout\.scss}line{font-family:\0000391}}
.page-region {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\000037}}
.page-container {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000317}}
.left {
  width: 79.31034%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  margin-left: -100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000320}}
.show-left .left {
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000323}}
.main {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000326}}
.show-left .main {
  margin-right: -82.75862%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000327}}
.show-right .main {
  margin-left: -82.75862%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000330}}
.right {
  width: 79.31034%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  margin-right: -100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000333}}
.show-right .right {
  margin-right: 0;
}

@media (min-width: 41.125em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000343}}
  [href="#left"] {
    visibility: hidden;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000345}}
  .left {
    width: 36.17021%;
    float: left;
    margin-right: 2.12766%;
    margin-left: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000348}}
  .show-right .left {
    margin-left: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000351}}
  .main {
    width: 61.70213%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000353}}
  .show-right .main {
    margin-left: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000354}}
  .show-left .main {
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000357}}
  .right {
    width: 36.17021%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000359}}
  .show-right .right {
    margin-right: 0;
  }
}
@media (min-width: 62.125em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000370}}
  [href="#right"] {
    visibility: hidden;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000372}}
  .left {
    width: 23.94366%;
    float: left;
    margin-right: 1.40845%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000374}}
  .show-right .left {
    margin-left: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000377}}
  .main {
    width: 49.29577%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_layout_3col_offcanvas\.scss}line{font-family:\0000381}}
  .right {
    width: 23.94366%;
    float: right;
    margin-right: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.elements\.scss}line{font-family:\000037}}
img {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.elements\.scss}line{font-family:\0000312}}
figure > img {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000311}}
html,
button,
input,
select,
textarea {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000315}}
body {
  background: white;
  font-size: 1em;
  line-height: 1.71429em;
  font-size: 14px;
}

/**
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000332}}
h1,
.alpha {
  font-size: 2em;
  line-height: 1.71429em;
  margin-bottom: 0.64286em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000338}}
h2,
.beta {
  font-size: 1.5em;
  line-height: 2.28571em;
  margin-bottom: 0.85714em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000344}}
h3,
.gamma {
  font-size: 1.17em;
  line-height: 1.4652em;
  margin-bottom: 1.0989em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000350}}
h4,
.delta {
  font-size: 1em;
  line-height: 1.71429em;
  margin-bottom: 1.28571em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000356}}
h5,
.epsilon {
  font-size: 0.83em;
  line-height: 2.0654em;
  margin-bottom: 1.54905em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000362}}
h6,
.zeta {
  font-size: 0.67em;
  line-height: 2.55864em;
  margin-bottom: 1.91898em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000368}}
h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: "Junge", Georgia, serif;
  font-weight: bold;
  color: inherit;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000373}}
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6, hgroup
.alpha, hgroup .beta, hgroup .gamma, hgroup .delta, hgroup .epsilon, hgroup .zeta {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000378}}
hgroup {
  margin-bottom: 0.85714em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000384}}
.giga {
  font-size: 6em;
  line-height: 1.14286em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000387}}
.mega {
  font-size: 4.5em;
  line-height: 1.14286em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000390}}
.huge {
  font-size: 3em;
  line-height: 1.14286em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000394}}
.small {
  font-size: 0.7em;
  line-height: 2.44898em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\0000397}}
.micro {
  font-size: 0.5em;
  line-height: 3.42857em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003102}}
p,
pre {
  margin: 0 0 1.28571em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003110}}
blockquote {
  padding: 0 0 0 0.85714em;
  margin: 0 0 1.28571em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003113}}
blockquote p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003119}}
blockquote footer,
blockquote small {
  display: block;
  line-height: 24px;
  color: silver;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003123}}
blockquote footer:before,
blockquote small:before {
  content: '\2014 \00A0';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003135}}
dl,
menu,
ol,
ul {
  margin: 0 0 0.85714em 1.28571em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003142}}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003146}}
li {
  line-height: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003150}}
dl {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003154}}
dd {
  margin: 0 0 0 1.28571em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003161}}
ul.unstyled,
ol.unstyled,
nav ul,
nav ol {
  margin-left: 0;
  list-style: none;
  list-style-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003170}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid silver;
  margin: 0 0 1.28571em;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003180}}
address {
  display: block;
  margin-bottom: 1.28571em;
  font-style: normal;
  line-height: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003191}}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003196}}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.typography\.scss}line{font-family:\00003201}}
.caps {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.links\.scss}line{font-family:\000036}}
a {
  color: #0088cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.links\.scss}line{font-family:\0000310}}
a:hover, a:active, a:focus {
  color: #005580;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.links\.scss}line{font-family:\0000319}}
.current > a,
.active > a {
  cursor: text;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\000036}}
form {
  margin: 0 0 1.28571em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000310}}
fieldset {
  padding: 1.28571em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000314}}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 36px;
  font-size: 21px;
  line-height: 48px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000326}}
legend small {
  font-size: 18px;
  color: silver;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000338}}
label,
input,
button,
.btn,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000345}}
input,
button,
select,
textarea {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000350}}
label {
  display: block;
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000359}}
input[type="search"]::-webkit-search-decoration {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000370}}
input:invalid,
button:invalid,
.btn:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000374}}
input:focus,
button:focus,
.btn:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #64a50d 0 0 5px 0;
  -moz-box-shadow: #64a50d 0 0 5px 0;
  box-shadow: #64a50d 0 0 5px 0;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\0000385}}
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003107}}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-appearance: none;
  color: #555555;
  background-color: white;
  border: 1px solid #cccccc;
  outline: 0;
  margin: 0;
  margin-bottom: 9px;
  padding: 4px;
  text-align: left;
  height: 24px;
  line-height: 24px;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003129}}
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 165, 13, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 165, 13, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 165, 13, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003135}}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #e6e6e6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003146}}
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
.btn.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=6500);
  opacity: 65;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003163}}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: silver;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003168}}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: silver;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003173}}
input.placeholder-text,
textarea.placeholder-text {
  color: silver;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003179}}
textarea,
select[size],
select[multiple] {
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003186}}
select[size="0"],
select[size="1"] {
  height: 24px;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003198}}
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003204}}
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003211}}
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003225}}
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003233}}
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003240}}
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003248}}
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003254}}
.input-tiny {
  width: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003258}}
.input-small {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003262}}
.input-medium {
  width: 150px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003266}}
.input-huge {
  width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003270}}
.input-mega {
  width: 250px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003274}}
.input-giga {
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.forms\.scss}line{font-family:\00003278}}
.input-full {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000310}}
button,
.btn,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  cursor: pointer;
  color: #333333;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 4px 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
  *margin-left: .3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003157}}
button:hover, button:active, button.active, button.disabled, button[disabled],
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"].active,
input[type="reset"].disabled,
input[type="reset"][disabled],
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"].active,
input[type="submit"].disabled,
input[type="submit"][disabled],
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"].active,
input[type="button"].disabled,
input[type="button"][disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003164}}
button:active, button.active,
.btn:active,
.btn.active,
input[type="reset"]:active,
input[type="reset"].active,
input[type="submit"]:active,
input[type="submit"].active,
input[type="button"]:active,
input[type="button"].active {
  background-color: #cccccc \9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000330}}
button:hover,
.btn:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000344}}
button.active, button:active,
.btn.active,
.btn:active,
input[type="reset"].active,
input[type="reset"]:active,
input[type="submit"].active,
input[type="submit"]:active,
input[type="button"].active,
input[type="button"]:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003126}}
button:first-child,
.btn:first-child,
input[type="reset"]:first-child,
input[type="submit"]:first-child,
input[type="button"]:first-child {
  *margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000360}}
button::-moz-focus-inner,
.btn::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000367}}
.btn:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000374}}
.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000380}}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000385}}
.btn-small {
  padding: 5px 9px;
  font-size: 12px;
  line-height: 22px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000390}}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\0000395}}
.btn-mini {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003118}}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003128}}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003134}}
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003139}}
.btn-primary {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0088cc), color-stop(100%, #0055cc));
  background-image: -webkit-linear-gradient(#0088cc, #0055cc);
  background-image: -moz-linear-gradient(#0088cc, #0055cc);
  background-image: -o-linear-gradient(#0088cc, #0055cc);
  background-image: linear-gradient(#0088cc, #0055cc);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0055cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003157}}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003164}}
.btn-primary:active, .btn-primary.active {
  background-color: #004099 \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003143}}
.btn-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbb450), color-stop(100%, #f89406));
  background-image: -webkit-linear-gradient(#fbb450, #f89406);
  background-image: -moz-linear-gradient(#fbb450, #f89406);
  background-image: -o-linear-gradient(#fbb450, #f89406);
  background-image: linear-gradient(#fbb450, #f89406);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003157}}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003164}}
.btn-warning:active, .btn-warning.active {
  background-color: #c67605 \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003147}}
.btn-danger {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee5f5b), color-stop(100%, #bd362f));
  background-image: -webkit-linear-gradient(#ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(#ee5f5b, #bd362f);
  background-image: -o-linear-gradient(#ee5f5b, #bd362f);
  background-image: linear-gradient(#ee5f5b, #bd362f);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003157}}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003164}}
.btn-danger:active, .btn-danger.active {
  background-color: #942a25 \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003151}}
.btn-success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62c462), color-stop(100%, #51a351));
  background-image: -webkit-linear-gradient(#62c462, #51a351);
  background-image: -moz-linear-gradient(#62c462, #51a351);
  background-image: -o-linear-gradient(#62c462, #51a351);
  background-image: linear-gradient(#62c462, #51a351);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003157}}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003164}}
.btn-success:active, .btn-success.active {
  background-color: #408140 \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003155}}
.btn-info {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #2f96b4));
  background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
  background-image: -o-linear-gradient(#5bc0de, #2f96b4);
  background-image: linear-gradient(#5bc0de, #2f96b4);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003157}}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003164}}
.btn-info:active, .btn-info.active {
  background-color: #24748c \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003159}}
.btn-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#555555, #222222);
  background-image: -moz-linear-gradient(#555555, #222222);
  background-image: -o-linear-gradient(#555555, #222222);
  background-image: linear-gradient(#555555, #222222);
  border-color: #222222 #222222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003157}}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_mixins\.scss}line{font-family:\00003164}}
.btn-inverse:active, .btn-inverse.active {
  background-color: #090909 \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003165}}
button,
.btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003170}}
.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003174}}
.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_base\.buttons\.scss}line{font-family:\00003178}}
.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/theme\/_theme\.page\.scss}line{font-family:\000036}}
body {
  background: url(../images/theme/bg_body.png) #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/theme\/_theme\.page\.scss}line{font-family:\000039}}
.page-container {
  background: rgba(221, 249, 184, 0.3);
  border: 1px solid silver;
  border-top-width: 0;
  -webkit-box-shadow: 0 2px 6px 0 rgba(100, 165, 13, 0.3);
  -moz-box-shadow: 0 2px 6px 0 rgba(100, 165, 13, 0.3);
  box-shadow: 0 2px 6px 0 rgba(100, 165, 13, 0.3);
  min-height: 500px;
}

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\000037}}
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000315}}
  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000319}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000323}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000331}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000336}}
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000341}}
  thead {
    display: table-header-group;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000346}}
  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000350}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000360}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/as\/workspace\/frondly\/sass\/_print\.scss}line{font-family:\0000366}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* endif */
