// =============================================================================
// @file:
// Form styles
// =============================================================================

form {
  margin: 0 0 $baseSpacingUnit;
}

fieldset{
  padding: $baseSpacingUnit;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $baseLineHeight * 1.5;
  font-size: $baseFontSize * 1.5;
  line-height: $baseLineHeight * 2;
  color: $textColor;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

  // Small
  small {
    font-size: $baseLineHeight * .75;
    color: $grayLight;
  }
}

// Set font for forms
label,
input,
button,
.btn,
select,
textarea {
  @include font-shorthand($baseFontSize, normal, $baseLineHeight); // Set size, weight, line-height here
}

input,
button,
select,
textarea {
  font-family: $baseFontFamily; // And only set font-family here for those that need it (note the missing label element)
}

// Identify controls by their labels
label {
  display: block;
  margin-bottom: 5px;
}

//
// Based on formalize.css
// @see: http://formalize.me/

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
.btn,
select,
textarea {
  // Suppress red glow that Firefox
  // adds to form fields by default.
  &:invalid {
    @include box-shadow(none);
  }
  // Add highlight color glow.
  &:focus {
    @include box-shadow($highlightColor 0 0 5px 0);
    // for Opera
    z-index: 1;
  }
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus,
  &:active {
    @include box-shadow(none);
  }
}




textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include box-sizing(border-box);
  @include background-clip(padding-box);
  @include border-radius($inputBorderRadius);
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  -webkit-appearance: none;
  color: $gray;
  background-color: $inputBackground;
  border: 1px solid $inputBorder;
  outline: 0;
  margin: 0;
  margin-bottom: 9px;
  padding: 4px;
  text-align: left;
  height: $baseLineHeight;
  line-height: $baseLineHeight;
  @if $legacy-support-for-ie7 {
    // IE7
    *padding-top: 2px;
    *padding-bottom: 1px;
    *height: auto;
  }
  &:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($highlightColor,.6));
  }
  &[disabled] {
    background-color: darken($white, 10%);
  }
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
.btn.disabled {
  @include box-shadow(none);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
  background-color: darken($white, 10%);
  background-image: none;
  @include opacity(65);
}

// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKit's.
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $placeholderText;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $placeholderText;
}

input.placeholder-text,
textarea.placeholder-text {
  color: $placeholderText;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
  height: $baseLineHeight;
  @if $legacy-support-for-ie7 {
    // IE7
    *height: auto;
  }
}

// Tweaks for Safari + Chrome.
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }
  select,
  select[size="0"],
  select[size="1"] {
    // Base64 encoded "../images/select_arrow.gif"
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px / 17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  // Font family repeated, for Firefox.
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.input-tiny {
  width: 50px;
}

.input-small {
  width: 100px;
}

.input-medium {
  width: 150px;
}

.input-huge {
  width: 200px;
}

.input-mega {
  width: 250px;
}

.input-giga {
  width: 300px;
}

.input-full {
  width: 100%;
}
