// =============================================================================
// @file:
// Button styles
// =============================================================================

// Button standard
//
// Markup:
// <input type="submit" value="submit" class="{$modifiers}" />
// <input type="reset" value="reset" class="{$modifiers}" />
// <input type="button" value="button" class="{$modifiers}" />
// <button class="{$modifiers}">button tag</button>
// <a href="#" class="btn {$modifiers}">link button</a>
//
// :hover - Highlight the button when hovered.
// :active - Active Button
// :focus - Button with focus
//
// Styleguide 3.6.1

button,
.btn,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  @include border-radius($inputBorderRadius);
  //@include background-clip(padding-box);
  @include inline-block();
  @include buttonBackground($btnBackground, $btnBackgroundHighlight);
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken($btnBorder, 10%);
  cursor: pointer;
  color: $grayDark;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 4px 10px;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
  text-decoration: none;
  text-align: center;
  line-height: $baseLineHeight;
  vertical-align: middle;
  width: auto;
  &:hover {
    color: $grayDark;
    @include buttonBackground(darken($btnBackground, 5%), darken($btnBackgroundHighlight, 5%));
    @if $legacy-support-for-ie7 {
      background-color: darken($btnBackgroundHighlight, 10%);
    }
    text-decoration: none;
  }
  &.active,
  &:active {
    background-color: darken($white, 10%);
    background-color: darken($white, 15%) \9;
    background-image: none;
    text-decoration: none;
    outline: 0;
    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05));
  }

  @if $legacy-support-for-ie7 {
    *padding-top: 2px;
    *padding-bottom: 0;
    @include ie7-restore-left-whitespace(); // Give IE7 some love
  }

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Focus state for keyboard and accessibility
.btn:focus {
  @include tab-focus();
}


// Button large
//
// Markup:
// <input type="submit" value="submit" class="btn-large {$modifiers}" />
// <input type="reset" value="reset" class="btn-large {$modifiers}" />
// <input type="button" value="button" class="btn-large {$modifiers}" />
// <button class="btn-large {$modifiers}">button tag</button>
// <a href="#" class="btn btn-large {$modifiers}">link button</a>
//
// :hover - Highlight the button when hovered.
// :active - Active Button
// :focus - Button with focus
//
// Styleguide 3.6.2

// Large
.btn-large {
  padding: 9px 14px;
  font-size: $baseFontSize + 2px;
  line-height: normal;
  @include border-radius(5px);
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

// Small
.btn-small {
  padding: 5px 9px;
  font-size: $baseFontSize - 2px;
  line-height: $baseLineHeight - 2px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

// Mini
.btn-mini {
  padding: 2px 6px;
  font-size: $baseFontSize - 2px;
  line-height: $baseLineHeight - 4px;
}


// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: $white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.btn {
  // reset here as of 2.0.3 due to Recess property order
  border-color: #ccc;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
}
.btn-primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}
// Warning appears are orange
.btn-warning {
  @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
}
// Danger and error appear as red
.btn-danger {
  @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-success {
  @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
  @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
  @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}

@if $legacy-support-for-ie7 {
  button,
  .btn {
    *padding-top: 2px;
    *padding-bottom: 2px;
  }

  .btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  .btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  .btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }

}
