// =============================================================================
// @file:
// Link styles
// =============================================================================

a {
  color: $linkColor;
  &:hover,
  &:active,
  &:focus{
    color: $linkColorHover;
    text-decoration: underline;
  }
}

// current / active link
.current,
.active {
  & > a {
    cursor: text;
    text-decoration: underline;
  }
}
